openapi: 3.1.0
info:
  title: SaladCloud API
  description: The SaladCloud REST API. Please refer to the [SaladCloud API
    Documentation](https://docs.salad.com/api-reference) for more details.
  termsOfService: https://salad.com/terms
  contact:
    name: SaladCloud Support
    url: https://salad.com
    email: cloud@salad.com
  license:
    name: MIT License
    identifier: MIT
  version: 0.9.0-alpha.6
servers:
  - url: https://api.salad.com/api/public
paths:
  /organizations/{organization_name}/projects/{project_name}/containers:
    summary: Container Groups
    description: Operations for container groups
    parameters:
      - $ref: "#/components/parameters/organization_name"
      - $ref: "#/components/parameters/project_name"
    get:
      operationId: list_container_groups
      summary: List Container Groups
      description: Gets the list of container groups
      responses:
        "200":
          $ref: "#/components/responses/ListContainerGroups"
        "429":
          $ref: "#/components/responses/429"
        default:
          $ref: "#/components/responses/UnknownError"
      tags:
        - container_groups
      x-codeSamples:
        - source: >-
            using Salad.Cloud.SDK;

            using Salad.Cloud.SDK.Config;

            using Environment = Salad.Cloud.SDK.Http.Environment;


            var config = new SaladCloudSdkConfig{
                Environment = Environment.Default
            };


            var client = new SaladCloudSdkClient(config);


            var response = await
            client.ContainerGroups.ListContainerGroupsAsync("acme-corp",
            "dev-env");


            Console.WriteLine(response);
          lang: C#
        - source: >-
            import { SaladCloudSdk } from
            '@saladtechnologies-oss/salad-cloud-sdk';


            (async () => {
              const saladCloudSdk = new SaladCloudSdk({
                apiKey: 'YOUR_API_KEY',
              });

              const { data } = await saladCloudSdk.containerGroups.listContainerGroups('acme-corp', 'dev-env');

              console.log(data);
            })();
          lang: TypeScript
        - source: |-
            from salad_cloud_sdk import SaladCloudSdk

            sdk = SaladCloudSdk(
                api_key="YOUR_API_KEY",
                api_key_header="YOUR_API_KEY_HEADER",
                timeout=10000
            )

            result = sdk.container_groups.list_container_groups(
                organization_name="acme-corp",
                project_name="dev-env"
            )

            print(result)
          lang: Python
        - source: >-
            import (
              "fmt"
              "encoding/json"
              "github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdkconfig"
              "github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdk"
            )


            config := saladcloudsdkconfig.NewConfig()

            client := saladcloudsdk.NewSaladCloudSdk(config)


            response, err :=
            client.ContainerGroups.ListContainerGroups(context.Background(),
            "organizationName", "projectName")

            if err != nil {
              panic(err)
            }


            fmt.Println(response)
          lang: Go
        - source: >-
            import com.salad.cloud.sdk.SaladCloudSdk;

            import com.salad.cloud.sdk.config.ApiKeyAuthConfig;

            import com.salad.cloud.sdk.config.SaladCloudSdkConfig;

            import com.salad.cloud.sdk.models.ContainerGroupList;


            public class Main {

              public static void main(String[] args) {
                SaladCloudSdkConfig config = SaladCloudSdkConfig
                  .builder()
                  .apiKeyAuthConfig(ApiKeyAuthConfig.builder().apiKey("YOUR_API_KEY").build())
                  .build();

                SaladCloudSdk saladCloudSdk = new SaladCloudSdk(config);

                ContainerGroupList response = saladCloudSdk.containerGroups.listContainerGroups("acme-corp", "dev-env");

                System.out.println(response);
              }
            }
          lang: Java
    post:
      operationId: create_container_group
      summary: Create Container Group
      description: Creates a new container group
      requestBody:
        $ref: "#/components/requestBodies/CreateContainerGroup"
      responses:
        "201":
          $ref: "#/components/responses/CreateContainerGroup"
        "400":
          $ref: "#/components/responses/400"
        "403":
          $ref: "#/components/responses/403"
        "429":
          $ref: "#/components/responses/429"
        default:
          $ref: "#/components/responses/UnknownError"
      tags:
        - container_groups
      x-liblab-resource: ContainerGroup#Create
      x-codeSamples:
        - source: >-
            using Salad.Cloud.SDK;

            using Salad.Cloud.SDK.Config;

            using Salad.Cloud.SDK.Models;

            using Environment = Salad.Cloud.SDK.Http.Environment;


            var config = new SaladCloudSdkConfig{
                Environment = Environment.Default
            };


            var client = new SaladCloudSdkClient(config);


            var gpuClasses = new List<string>() { "gpu_classes" };

            var resources = new ContainerResourceRequirements(13, 8139,
            gpuClasses, 43769579402);

            var command = new List<string>() { "command" };

            var axiom = new LoggingAxiom2("host", "api_token", "dataset");

            var tagsItem = new DatadogTags2("name", "value");

            var tags = new List<DatadogTags2>() { tagsItem };

            var datadog = new LoggingDatadog2("host", "api_key", tags);

            var newRelic = new LoggingNewRelic2("host", "ingestion_key");

            var splunk = new LoggingSplunk2("host", "token");

            var tcp = new LoggingTcp2("host", 24951);

            var headersItem = new HttpHeaders3("name", "value");

            var headers = new List<HttpHeaders3>() { headersItem };

            var http = new LoggingHttp2("host", 36565, HttpFormat2.Json,
            HttpCompression2.None, "user", "password", "path", headers);

            var logging = new CreateContainerLogging(axiom, datadog, newRelic,
            splunk, tcp, http);

            var basic = new RegistryAuthenticationBasic1("username",
            "password");

            var gcpGcr = new RegistryAuthenticationGcpGcr1("service_key");

            var awsEcr = new RegistryAuthenticationAwsEcr1("access_key_id",
            "secret_access_key");

            var dockerHub = new RegistryAuthenticationDockerHub1("username",
            "personal_access_token");

            var gcpGar = new RegistryAuthenticationGcpGar1("service_key");

            var registryAuthentication = new
            CreateContainerRegistryAuthentication(basic, gcpGcr, awsEcr,
            dockerHub, gcpGar);

            var container = new CreateContainer("image", resources, command,
            ContainerGroupPriority.High, new object(), logging,
            registryAuthentication);

            var countryCodes = new List<CountryCode>() { CountryCode.Af };

            var networking = new
            CreateContainerGroupNetworking(ContainerNetworkingProtocol.Http,
            22764, false, CreateContainerGroupNetworkingLoadBalancer.RoundRobin,
            false, 100000, 100000);

            var tcp = new ContainerGroupProbeTcp(22350);

            var headersItem = new ContainerGroupProbeHttpHeaders2("name",
            "value");

            var headers = new List<ContainerGroupProbeHttpHeaders2>() {
            headersItem };

            var http = new ContainerGroupProbeHttp("path", 56884,
            ContainerProbeHttpScheme.Http, headers);

            var grpc = new ContainerGroupProbeGrpc("service", 47172);

            var command = new List<string>() { "command" };

            var exec = new ContainerGroupProbeExec(command);

            var livenessProbe = new ContainerGroupLivenessProbe(0, 10, 30, 1, 3,
            tcp, http, grpc, exec);

            var tcp = new ContainerGroupProbeTcp(22350);

            var headersItem = new ContainerGroupProbeHttpHeaders2("name",
            "value");

            var headers = new List<ContainerGroupProbeHttpHeaders2>() {
            headersItem };

            var http = new ContainerGroupProbeHttp("path", 56884,
            ContainerProbeHttpScheme.Http, headers);

            var grpc = new ContainerGroupProbeGrpc("service", 47172);

            var command = new List<string>() { "command" };

            var exec = new ContainerGroupProbeExec(command);

            var readinessProbe = new ContainerGroupReadinessProbe(0, 1, 1, 1, 3,
            tcp, http, grpc, exec);

            var tcp = new ContainerGroupProbeTcp(22350);

            var headersItem = new ContainerGroupProbeHttpHeaders2("name",
            "value");

            var headers = new List<ContainerGroupProbeHttpHeaders2>() {
            headersItem };

            var http = new ContainerGroupProbeHttp("path", 56884,
            ContainerProbeHttpScheme.Http, headers);

            var grpc = new ContainerGroupProbeGrpc("service", 47172);

            var command = new List<string>() { "command" };

            var exec = new ContainerGroupProbeExec(command);

            var startupProbe = new ContainerGroupStartupProbe(9, 3, 10, 2, 1200,
            tcp, http, grpc, exec);

            var queueConnection = new ContainerGroupQueueConnection("path",
            34605, "gv8rketqh");

            var queueAutoscaler = new QueueAutoscaler(26, 28, 42, 442, 3, 69);

            var input = new CreateContainerGroup("name", container, false,
            ContainerRestartPolicy.Always, 231, "VSVi1YCcw", countryCodes,
            networking, livenessProbe, readinessProbe, startupProbe,
            queueConnection, queueAutoscaler);


            var response = await
            client.ContainerGroups.CreateContainerGroupAsync(input, "acme-corp",
            "dev-env");


            Console.WriteLine(response);
          lang: C#
        - source: >-
            import {
              ContainerGroupLivenessProbe,
              ContainerGroupQueueConnection,
              ContainerGroupReadinessProbe,
              ContainerGroupStartupProbe,
              ContainerRestartPolicy,
              CountryCode,
              CreateContainer,
              CreateContainerGroup,
              CreateContainerGroupNetworking,
              QueueAutoscaler,
              SaladCloudSdk,
            } from '@saladtechnologies-oss/salad-cloud-sdk';


            (async () => {
              const saladCloudSdk = new SaladCloudSdk({
                apiKey: 'YOUR_API_KEY',
              });

              const containerResourceRequirements: ContainerResourceRequirements = {
                cpu: 3,
                memory: 16094,
                gpuClasses: ['gpu_classes'],
                storageAmount: 50473301867,
              };

              const containerGroupPriority = ContainerGroupPriority.HIGH;

              const loggingAxiom2: LoggingAxiom2 = {
                host: 'host',
                apiToken: 'api_token',
                dataset: 'dataset',
              };

              const datadogTags2: DatadogTags2 = {
                name: 'name',
                value: 'value',
              };

              const loggingDatadog2: LoggingDatadog2 = {
                host: 'host',
                apiKey: 'api_key',
                tags: [datadogTags2],
              };

              const loggingNewRelic2: LoggingNewRelic2 = {
                host: 'host',
                ingestionKey: 'ingestion_key',
              };

              const loggingSplunk2: LoggingSplunk2 = {
                host: 'host',
                token: 'token',
              };

              const loggingTcp2: LoggingTcp2 = {
                host: 'host',
                port: 52754,
              };

              const httpFormat2 = HttpFormat2.JSON;

              const httpHeaders3: HttpHeaders3 = {
                name: 'name',
                value: 'value',
              };

              const httpCompression2 = HttpCompression2.NONE;

              const loggingHttp2: LoggingHttp2 = {
                host: 'host',
                port: 58619,
                user: 'user',
                password: 'password',
                path: 'path',
                format: httpFormat2,
                headers: [httpHeaders3],
                compression: httpCompression2,
              };

              const createContainerLogging: CreateContainerLogging = {
                axiom: loggingAxiom2,
                datadog: loggingDatadog2,
                newRelic: loggingNewRelic2,
                splunk: loggingSplunk2,
                tcp: loggingTcp2,
                http: loggingHttp2,
              };

              const registryAuthenticationBasic1: RegistryAuthenticationBasic1 = {
                username: 'username',
                password: 'password',
              };

              const registryAuthenticationGcpGcr1: RegistryAuthenticationGcpGcr1 = {
                serviceKey: 'service_key',
              };

              const registryAuthenticationAwsEcr1: RegistryAuthenticationAwsEcr1 = {
                accessKeyId: 'access_key_id',
                secretAccessKey: 'secret_access_key',
              };

              const registryAuthenticationDockerHub1: RegistryAuthenticationDockerHub1 = {
                username: 'username',
                personalAccessToken: 'personal_access_token',
              };

              const registryAuthenticationGcpGar1: RegistryAuthenticationGcpGar1 = {
                serviceKey: 'service_key',
              };

              const createContainerRegistryAuthentication: CreateContainerRegistryAuthentication = {
                basic: registryAuthenticationBasic1,
                gcpGcr: registryAuthenticationGcpGcr1,
                awsEcr: registryAuthenticationAwsEcr1,
                dockerHub: registryAuthenticationDockerHub1,
                gcpGar: registryAuthenticationGcpGar1,
              };

              const createContainer: CreateContainer = {
                image: 'image',
                resources: containerResourceRequirements,
                command: ['command'],
                priority: containerGroupPriority,
                environmentVariables: [],
                logging: createContainerLogging,
                registryAuthentication: createContainerRegistryAuthentication,
              };

              const containerRestartPolicy = ContainerRestartPolicy.ALWAYS;

              const countryCode = CountryCode.AF;

              const containerNetworkingProtocol = ContainerNetworkingProtocol.HTTP;

              const createContainerGroupNetworkingLoadBalancer = CreateContainerGroupNetworkingLoadBalancer.ROUND_ROBIN;

              const createContainerGroupNetworking: CreateContainerGroupNetworking = {
                protocol: containerNetworkingProtocol,
                port: 64929,
                auth: true,
                loadBalancer: createContainerGroupNetworkingLoadBalancer,
                singleConnectionLimit: true,
                clientRequestTimeout: 100000,
                serverResponseTimeout: 100000,
              };

              const containerGroupProbeTcp: ContainerGroupProbeTcp = {
                port: 9366,
              };

              const containerProbeHttpScheme = ContainerProbeHttpScheme.HTTP;

              const containerGroupProbeHttpHeaders2: ContainerGroupProbeHttpHeaders2 = {
                name: 'name',
                value: 'value',
              };

              const containerGroupProbeHttp: ContainerGroupProbeHttp = {
                path: 'path',
                port: 398,
                scheme: containerProbeHttpScheme,
                headers: [containerGroupProbeHttpHeaders2],
              };

              const containerGroupProbeGrpc: ContainerGroupProbeGrpc = {
                service: 'service',
                port: 23866,
              };

              const containerGroupProbeExec: ContainerGroupProbeExec = {
                command: ['command'],
              };

              const containerGroupLivenessProbe: ContainerGroupLivenessProbe = {
                tcp: containerGroupProbeTcp,
                http: containerGroupProbeHttp,
                grpc: containerGroupProbeGrpc,
                exec: containerGroupProbeExec,
                initialDelaySeconds: 1,
                periodSeconds: 10,
                timeoutSeconds: 30,
                successThreshold: 1,
                failureThreshold: 3,
              };

              const containerGroupReadinessProbe: ContainerGroupReadinessProbe = {
                tcp: containerGroupProbeTcp,
                http: containerGroupProbeHttp,
                grpc: containerGroupProbeGrpc,
                exec: containerGroupProbeExec,
                initialDelaySeconds: 8,
                periodSeconds: 1,
                timeoutSeconds: 1,
                successThreshold: 1,
                failureThreshold: 3,
              };

              const containerGroupStartupProbe: ContainerGroupStartupProbe = {
                tcp: containerGroupProbeTcp,
                http: containerGroupProbeHttp,
                grpc: containerGroupProbeGrpc,
                exec: containerGroupProbeExec,
                initialDelaySeconds: 2,
                periodSeconds: 3,
                timeoutSeconds: 10,
                successThreshold: 2,
                failureThreshold: 1200,
              };

              const containerGroupQueueConnection: ContainerGroupQueueConnection = {
                path: 'path',
                port: 34806,
                queueName: 'r3qna2yfhck403bsaqbf6nweyawtm7q4ohr',
              };

              const queueAutoscaler: QueueAutoscaler = {
                minReplicas: 88,
                maxReplicas: 197,
                desiredQueueLength: 57,
                pollingPeriod: 1449,
                maxUpscalePerMinute: 85,
                maxDownscalePerMinute: 33,
              };

              const createContainerGroup: CreateContainerGroup = {
                name: 'name',
                displayName: 'ny',
                container: createContainer,
                autostartPolicy: true,
                restartPolicy: containerRestartPolicy,
                replicas: 47,
                countryCodes: [countryCode],
                networking: createContainerGroupNetworking,
                livenessProbe: containerGroupLivenessProbe,
                readinessProbe: containerGroupReadinessProbe,
                startupProbe: containerGroupStartupProbe,
                queueConnection: containerGroupQueueConnection,
                queueAutoscaler: queueAutoscaler,
              };

              const { data } = await saladCloudSdk.containerGroups.createContainerGroup(
                'acme-corp',
                'dev-env',
                createContainerGroup,
              );

              console.log(data);
            })();
          lang: TypeScript
        - source: |-
            from salad_cloud_sdk import SaladCloudSdk
            from salad_cloud_sdk.models import CreateContainerGroup

            sdk = SaladCloudSdk(
                api_key="YOUR_API_KEY",
                api_key_header="YOUR_API_KEY_HEADER",
                timeout=10000
            )

            request_body = CreateContainerGroup(
                name="name",
                display_name="VSVi1YCcw",
                container={
                    "image": "image",
                    "resources": {
                        "cpu": 13,
                        "memory": 8139,
                        "gpu_classes": [
                            "gpu_classes"
                        ],
                        "storage_amount": 43769579402
                    },
                    "command": [
                        "command"
                    ],
                    "priority": "high",
                    "environment_variables": {},
                    "logging": {
                        "axiom": {
                            "host": "host",
                            "api_token": "api_token",
                            "dataset": "dataset"
                        },
                        "datadog": {
                            "host": "host",
                            "api_key": "api_key",
                            "tags": [
                                {
                                    "name": "name",
                                    "value": "value"
                                }
                            ]
                        },
                        "new_relic": {
                            "host": "host",
                            "ingestion_key": "ingestion_key"
                        },
                        "splunk": {
                            "host": "host",
                            "token": "token"
                        },
                        "tcp": {
                            "host": "host",
                            "port": 24951
                        },
                        "http": {
                            "host": "host",
                            "port": 36565,
                            "user": "user",
                            "password": "password",
                            "path": "path",
                            "format": "json",
                            "headers": [
                                {
                                    "name": "name",
                                    "value": "value"
                                }
                            ],
                            "compression": "none"
                        }
                    },
                    "registry_authentication": {
                        "basic": {
                            "username": "username",
                            "password": "password"
                        },
                        "gcp_gcr": {
                            "service_key": "service_key"
                        },
                        "aws_ecr": {
                            "access_key_id": "access_key_id",
                            "secret_access_key": "secret_access_key"
                        },
                        "docker_hub": {
                            "username": "username",
                            "personal_access_token": "personal_access_token"
                        },
                        "gcp_gar": {
                            "service_key": "service_key"
                        }
                    }
                },
                autostart_policy=False,
                restart_policy="always",
                replicas=231,
                country_codes=[
                    "af"
                ],
                networking={
                    "protocol": "http",
                    "port": 22764,
                    "auth": False,
                    "load_balancer": "round_robin",
                    "single_connection_limit": False,
                    "client_request_timeout": 100000,
                    "server_response_timeout": 100000
                },
                liveness_probe={
                    "tcp": {
                        "port": 22350
                    },
                    "http": {
                        "path": "path",
                        "port": 56884,
                        "scheme": "http",
                        "headers": [
                            {
                                "name": "name",
                                "value": "value"
                            }
                        ]
                    },
                    "grpc": {
                        "service": "service",
                        "port": 47172
                    },
                    "exec_": {
                        "command": [
                            "command"
                        ]
                    },
                    "initial_delay_seconds": 0,
                    "period_seconds": 10,
                    "timeout_seconds": 30,
                    "success_threshold": 1,
                    "failure_threshold": 3
                },
                readiness_probe={
                    "tcp": {
                        "port": 22350
                    },
                    "http": {
                        "path": "path",
                        "port": 56884,
                        "scheme": "http",
                        "headers": [
                            {
                                "name": "name",
                                "value": "value"
                            }
                        ]
                    },
                    "grpc": {
                        "service": "service",
                        "port": 47172
                    },
                    "exec_": {
                        "command": [
                            "command"
                        ]
                    },
                    "initial_delay_seconds": 0,
                    "period_seconds": 1,
                    "timeout_seconds": 1,
                    "success_threshold": 1,
                    "failure_threshold": 3
                },
                startup_probe={
                    "tcp": {
                        "port": 22350
                    },
                    "http": {
                        "path": "path",
                        "port": 56884,
                        "scheme": "http",
                        "headers": [
                            {
                                "name": "name",
                                "value": "value"
                            }
                        ]
                    },
                    "grpc": {
                        "service": "service",
                        "port": 47172
                    },
                    "exec_": {
                        "command": [
                            "command"
                        ]
                    },
                    "initial_delay_seconds": 9,
                    "period_seconds": 3,
                    "timeout_seconds": 10,
                    "success_threshold": 2,
                    "failure_threshold": 1200
                },
                queue_connection={
                    "path": "path",
                    "port": 34605,
                    "queue_name": "gv8rketqh"
                },
                queue_autoscaler={
                    "min_replicas": 26,
                    "max_replicas": 28,
                    "desired_queue_length": 42,
                    "polling_period": 442,
                    "max_upscale_per_minute": 3,
                    "max_downscale_per_minute": 69
                }
            )

            result = sdk.container_groups.create_container_group(
                request_body=request_body,
                organization_name="acme-corp",
                project_name="dev-env"
            )

            print(result)
          lang: Python
        - source: |-
            import (
              "fmt"
              "encoding/json"
              "github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdkconfig"
              "github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdk"
              "github.com/saladtechnologies/salad-cloud-sdk-go/pkg/containergroups"
              "github.com/saladtechnologies/salad-cloud-sdk-go/pkg/shared"
            )

            config := saladcloudsdkconfig.NewConfig()
            client := saladcloudsdk.NewSaladCloudSdk(config)


            containerResourceRequirements := shared.ContainerResourceRequirements{}
            containerResourceRequirements.SetCpu(int64(123))
            containerResourceRequirements.SetMemory(int64(123))
            containerResourceRequirements.SetGpuClasses([]string{})
            containerResourceRequirements.SetStorageAmount(int64(123))

            containerGroupPriority := shared.CONTAINER_GROUP_PRIORITY_HIGH


            loggingAxiom2 := containergroups.LoggingAxiom2{}
            loggingAxiom2.SetHost("Host")
            loggingAxiom2.SetApiToken("ApiToken")
            loggingAxiom2.SetDataset("Dataset")


            datadogTags2 := containergroups.DatadogTags2{}
            datadogTags2.SetName("Name")
            datadogTags2.SetValue("Value")

            loggingDatadog2 := containergroups.LoggingDatadog2{}
            loggingDatadog2.SetHost("Host")
            loggingDatadog2.SetApiKey("ApiKey")
            loggingDatadog2.SetTags([]containergroups.DatadogTags2{datadogTags2})


            loggingNewRelic2 := containergroups.LoggingNewRelic2{}
            loggingNewRelic2.SetHost("Host")
            loggingNewRelic2.SetIngestionKey("IngestionKey")


            loggingSplunk2 := containergroups.LoggingSplunk2{}
            loggingSplunk2.SetHost("Host")
            loggingSplunk2.SetToken("Token")


            loggingTcp2 := containergroups.LoggingTcp2{}
            loggingTcp2.SetHost("Host")
            loggingTcp2.SetPort(int64(123))

            httpFormat2 := containergroups.HTTP_FORMAT2_JSON


            httpHeaders3 := containergroups.HttpHeaders3{}
            httpHeaders3.SetName("Name")
            httpHeaders3.SetValue("Value")

            httpCompression2 := containergroups.HTTP_COMPRESSION2_NONE

            loggingHttp2 := containergroups.LoggingHttp2{}
            loggingHttp2.SetHost("Host")
            loggingHttp2.SetPort(int64(123))
            loggingHttp2.SetUser("User")
            loggingHttp2.SetPassword("Password")
            loggingHttp2.SetPath("Path")
            loggingHttp2.SetFormat(httpFormat2)
            loggingHttp2.SetHeaders([]containergroups.HttpHeaders3{httpHeaders3})
            loggingHttp2.SetCompression(httpCompression2)

            createContainerLogging := containergroups.CreateContainerLogging{}
            createContainerLogging.SetAxiom(loggingAxiom2)
            createContainerLogging.SetDatadog(loggingDatadog2)
            createContainerLogging.SetNewRelic(loggingNewRelic2)
            createContainerLogging.SetSplunk(loggingSplunk2)
            createContainerLogging.SetTcp(loggingTcp2)
            createContainerLogging.SetHttp(loggingHttp2)


            registryAuthenticationBasic1 := containergroups.RegistryAuthenticationBasic1{}
            registryAuthenticationBasic1.SetUsername("Username")
            registryAuthenticationBasic1.SetPassword("Password")


            registryAuthenticationGcpGcr1 := containergroups.RegistryAuthenticationGcpGcr1{}
            registryAuthenticationGcpGcr1.SetServiceKey("ServiceKey")


            registryAuthenticationAwsEcr1 := containergroups.RegistryAuthenticationAwsEcr1{}
            registryAuthenticationAwsEcr1.SetAccessKeyId("AccessKeyId")
            registryAuthenticationAwsEcr1.SetSecretAccessKey("SecretAccessKey")


            registryAuthenticationDockerHub1 := containergroups.RegistryAuthenticationDockerHub1{}
            registryAuthenticationDockerHub1.SetUsername("Username")
            registryAuthenticationDockerHub1.SetPersonalAccessToken("PersonalAccessToken")


            registryAuthenticationGcpGar1 := containergroups.RegistryAuthenticationGcpGar1{}
            registryAuthenticationGcpGar1.SetServiceKey("ServiceKey")

            createContainerRegistryAuthentication := containergroups.CreateContainerRegistryAuthentication{}
            createContainerRegistryAuthentication.SetBasic(registryAuthenticationBasic1)
            createContainerRegistryAuthentication.SetGcpGcr(registryAuthenticationGcpGcr1)
            createContainerRegistryAuthentication.SetAwsEcr(registryAuthenticationAwsEcr1)
            createContainerRegistryAuthentication.SetDockerHub(registryAuthenticationDockerHub1)
            createContainerRegistryAuthentication.SetGcpGar(registryAuthenticationGcpGar1)

            createContainer := containergroups.CreateContainer{}
            createContainer.SetImage("Image")
            createContainer.SetResources(containerResourceRequirements)
            createContainer.SetCommand([]string{})
            createContainer.SetPriority(containerGroupPriority)
            createContainer.SetEnvironmentVariables(map[string]string{})
            createContainer.SetLogging(createContainerLogging)
            createContainer.SetRegistryAuthentication(createContainerRegistryAuthentication)

            containerRestartPolicy := shared.CONTAINER_RESTART_POLICY_ALWAYS

            countryCode := shared.COUNTRY_CODE_AF

            containerNetworkingProtocol := shared.CONTAINER_NETWORKING_PROTOCOL_HTTP

            createContainerGroupNetworkingLoadBalancer := containergroups.CREATE_CONTAINER_GROUP_NETWORKING_LOAD_BALANCER_ROUND_ROBIN

            createContainerGroupNetworking := containergroups.CreateContainerGroupNetworking{}
            createContainerGroupNetworking.SetProtocol(containerNetworkingProtocol)
            createContainerGroupNetworking.SetPort(int64(123))
            createContainerGroupNetworking.SetAuth(true)
            createContainerGroupNetworking.SetLoadBalancer(createContainerGroupNetworkingLoadBalancer)
            createContainerGroupNetworking.SetSingleConnectionLimit(true)
            createContainerGroupNetworking.SetClientRequestTimeout(int64(123))
            createContainerGroupNetworking.SetServerResponseTimeout(int64(123))


            containerGroupProbeTcp := shared.ContainerGroupProbeTcp{}
            containerGroupProbeTcp.SetPort(int64(123))

            containerProbeHttpScheme := shared.CONTAINER_PROBE_HTTP_SCHEME_HTTP


            containerGroupProbeHttpHeaders2 := shared.ContainerGroupProbeHttpHeaders2{}
            containerGroupProbeHttpHeaders2.SetName("Name")
            containerGroupProbeHttpHeaders2.SetValue("Value")

            containerGroupProbeHttp := shared.ContainerGroupProbeHttp{}
            containerGroupProbeHttp.SetPath("Path")
            containerGroupProbeHttp.SetPort(int64(123))
            containerGroupProbeHttp.SetScheme(containerProbeHttpScheme)
            containerGroupProbeHttp.SetHeaders([]shared.ContainerGroupProbeHttpHeaders2{containerGroupProbeHttpHeaders2})


            containerGroupProbeGrpc := shared.ContainerGroupProbeGrpc{}
            containerGroupProbeGrpc.SetService("Service")
            containerGroupProbeGrpc.SetPort(int64(123))


            containerGroupProbeExec := shared.ContainerGroupProbeExec{}
            containerGroupProbeExec.SetCommand([]string{})

            containerGroupLivenessProbe := shared.ContainerGroupLivenessProbe{}
            containerGroupLivenessProbe.SetTcp(containerGroupProbeTcp)
            containerGroupLivenessProbe.SetHttp(containerGroupProbeHttp)
            containerGroupLivenessProbe.SetGrpc(containerGroupProbeGrpc)
            containerGroupLivenessProbe.SetExec(containerGroupProbeExec)
            containerGroupLivenessProbe.SetInitialDelaySeconds(int64(123))
            containerGroupLivenessProbe.SetPeriodSeconds(int64(123))
            containerGroupLivenessProbe.SetTimeoutSeconds(int64(123))
            containerGroupLivenessProbe.SetSuccessThreshold(int64(123))
            containerGroupLivenessProbe.SetFailureThreshold(int64(123))


            containerGroupProbeTcp := shared.ContainerGroupProbeTcp{}
            containerGroupProbeTcp.SetPort(int64(123))

            containerProbeHttpScheme := shared.CONTAINER_PROBE_HTTP_SCHEME_HTTP


            containerGroupProbeHttpHeaders2 := shared.ContainerGroupProbeHttpHeaders2{}
            containerGroupProbeHttpHeaders2.SetName("Name")
            containerGroupProbeHttpHeaders2.SetValue("Value")

            containerGroupProbeHttp := shared.ContainerGroupProbeHttp{}
            containerGroupProbeHttp.SetPath("Path")
            containerGroupProbeHttp.SetPort(int64(123))
            containerGroupProbeHttp.SetScheme(containerProbeHttpScheme)
            containerGroupProbeHttp.SetHeaders([]shared.ContainerGroupProbeHttpHeaders2{containerGroupProbeHttpHeaders2})


            containerGroupProbeGrpc := shared.ContainerGroupProbeGrpc{}
            containerGroupProbeGrpc.SetService("Service")
            containerGroupProbeGrpc.SetPort(int64(123))


            containerGroupProbeExec := shared.ContainerGroupProbeExec{}
            containerGroupProbeExec.SetCommand([]string{})

            containerGroupReadinessProbe := shared.ContainerGroupReadinessProbe{}
            containerGroupReadinessProbe.SetTcp(containerGroupProbeTcp)
            containerGroupReadinessProbe.SetHttp(containerGroupProbeHttp)
            containerGroupReadinessProbe.SetGrpc(containerGroupProbeGrpc)
            containerGroupReadinessProbe.SetExec(containerGroupProbeExec)
            containerGroupReadinessProbe.SetInitialDelaySeconds(int64(123))
            containerGroupReadinessProbe.SetPeriodSeconds(int64(123))
            containerGroupReadinessProbe.SetTimeoutSeconds(int64(123))
            containerGroupReadinessProbe.SetSuccessThreshold(int64(123))
            containerGroupReadinessProbe.SetFailureThreshold(int64(123))


            containerGroupProbeTcp := shared.ContainerGroupProbeTcp{}
            containerGroupProbeTcp.SetPort(int64(123))

            containerProbeHttpScheme := shared.CONTAINER_PROBE_HTTP_SCHEME_HTTP


            containerGroupProbeHttpHeaders2 := shared.ContainerGroupProbeHttpHeaders2{}
            containerGroupProbeHttpHeaders2.SetName("Name")
            containerGroupProbeHttpHeaders2.SetValue("Value")

            containerGroupProbeHttp := shared.ContainerGroupProbeHttp{}
            containerGroupProbeHttp.SetPath("Path")
            containerGroupProbeHttp.SetPort(int64(123))
            containerGroupProbeHttp.SetScheme(containerProbeHttpScheme)
            containerGroupProbeHttp.SetHeaders([]shared.ContainerGroupProbeHttpHeaders2{containerGroupProbeHttpHeaders2})


            containerGroupProbeGrpc := shared.ContainerGroupProbeGrpc{}
            containerGroupProbeGrpc.SetService("Service")
            containerGroupProbeGrpc.SetPort(int64(123))


            containerGroupProbeExec := shared.ContainerGroupProbeExec{}
            containerGroupProbeExec.SetCommand([]string{})

            containerGroupStartupProbe := shared.ContainerGroupStartupProbe{}
            containerGroupStartupProbe.SetTcp(containerGroupProbeTcp)
            containerGroupStartupProbe.SetHttp(containerGroupProbeHttp)
            containerGroupStartupProbe.SetGrpc(containerGroupProbeGrpc)
            containerGroupStartupProbe.SetExec(containerGroupProbeExec)
            containerGroupStartupProbe.SetInitialDelaySeconds(int64(123))
            containerGroupStartupProbe.SetPeriodSeconds(int64(123))
            containerGroupStartupProbe.SetTimeoutSeconds(int64(123))
            containerGroupStartupProbe.SetSuccessThreshold(int64(123))
            containerGroupStartupProbe.SetFailureThreshold(int64(123))


            containerGroupQueueConnection := shared.ContainerGroupQueueConnection{}
            containerGroupQueueConnection.SetPath("Path")
            containerGroupQueueConnection.SetPort(int64(123))
            containerGroupQueueConnection.SetQueueName("QueueName")


            queueAutoscaler := shared.QueueAutoscaler{}
            queueAutoscaler.SetMinReplicas(int64(123))
            queueAutoscaler.SetMaxReplicas(int64(123))
            queueAutoscaler.SetDesiredQueueLength(int64(123))
            queueAutoscaler.SetPollingPeriod(int64(123))
            queueAutoscaler.SetMaxUpscalePerMinute(int64(123))
            queueAutoscaler.SetMaxDownscalePerMinute(int64(123))

            request := containergroups.CreateContainerGroup{}
            request.SetName("Name")
            request.SetDisplayName("DisplayName")
            request.SetContainer(createContainer)
            request.SetAutostartPolicy(true)
            request.SetRestartPolicy(containerRestartPolicy)
            request.SetReplicas(int64(123))
            request.SetCountryCodes([]shared.CountryCode{countryCode})
            request.SetNetworking(createContainerGroupNetworking)
            request.SetLivenessProbe(containerGroupLivenessProbe)
            request.SetReadinessProbe(containerGroupReadinessProbe)
            request.SetStartupProbe(containerGroupStartupProbe)
            request.SetQueueConnection(containerGroupQueueConnection)
            request.SetQueueAutoscaler(queueAutoscaler)

            response, err := client.ContainerGroups.CreateContainerGroup(context.Background(), "organizationName", "projectName", request)
            if err != nil {
              panic(err)
            }

            fmt.Println(response)
          lang: Go
        - source: |-
            import com.salad.cloud.sdk.SaladCloudSdk;
            import com.salad.cloud.sdk.config.ApiKeyAuthConfig;
            import com.salad.cloud.sdk.config.SaladCloudSdkConfig;
            import com.salad.cloud.sdk.models.ContainerGroup;
            import com.salad.cloud.sdk.models.ContainerGroupLivenessProbe;
            import com.salad.cloud.sdk.models.ContainerGroupPriority;
            import com.salad.cloud.sdk.models.ContainerGroupProbeExec;
            import com.salad.cloud.sdk.models.ContainerGroupProbeGrpc;
            import com.salad.cloud.sdk.models.ContainerGroupProbeHttp;
            import com.salad.cloud.sdk.models.ContainerGroupProbeHttpHeaders2;
            import com.salad.cloud.sdk.models.ContainerGroupProbeTcp;
            import com.salad.cloud.sdk.models.ContainerGroupQueueConnection;
            import com.salad.cloud.sdk.models.ContainerGroupReadinessProbe;
            import com.salad.cloud.sdk.models.ContainerGroupStartupProbe;
            import com.salad.cloud.sdk.models.ContainerNetworkingProtocol;
            import com.salad.cloud.sdk.models.ContainerProbeHttpScheme;
            import com.salad.cloud.sdk.models.ContainerResourceRequirements;
            import com.salad.cloud.sdk.models.ContainerRestartPolicy;
            import com.salad.cloud.sdk.models.CountryCode;
            import com.salad.cloud.sdk.models.CreateContainer;
            import com.salad.cloud.sdk.models.CreateContainerGroup;
            import com.salad.cloud.sdk.models.CreateContainerGroupNetworking;
            import com.salad.cloud.sdk.models.CreateContainerGroupNetworkingLoadBalancer;
            import com.salad.cloud.sdk.models.CreateContainerLogging;
            import com.salad.cloud.sdk.models.CreateContainerRegistryAuthentication;
            import com.salad.cloud.sdk.models.DatadogTags2;
            import com.salad.cloud.sdk.models.HttpCompression2;
            import com.salad.cloud.sdk.models.HttpFormat2;
            import com.salad.cloud.sdk.models.HttpHeaders3;
            import com.salad.cloud.sdk.models.LoggingAxiom2;
            import com.salad.cloud.sdk.models.LoggingDatadog2;
            import com.salad.cloud.sdk.models.LoggingHttp2;
            import com.salad.cloud.sdk.models.LoggingNewRelic2;
            import com.salad.cloud.sdk.models.LoggingSplunk2;
            import com.salad.cloud.sdk.models.LoggingTcp2;
            import com.salad.cloud.sdk.models.QueueAutoscaler;
            import com.salad.cloud.sdk.models.RegistryAuthenticationAwsEcr1;
            import com.salad.cloud.sdk.models.RegistryAuthenticationBasic1;
            import com.salad.cloud.sdk.models.RegistryAuthenticationDockerHub1;
            import com.salad.cloud.sdk.models.RegistryAuthenticationGcpGar1;
            import com.salad.cloud.sdk.models.RegistryAuthenticationGcpGcr1;
            import java.util.Arrays;
            import java.util.HashMap;
            import java.util.List;

            public class Main {

              public static void main(String[] args) {
                SaladCloudSdkConfig config = SaladCloudSdkConfig
                  .builder()
                  .apiKeyAuthConfig(ApiKeyAuthConfig.builder().apiKey("YOUR_API_KEY").build())
                  .build();

                SaladCloudSdk saladCloudSdk = new SaladCloudSdk(config);

                List<String> gpuClasses = Arrays.asList("gpu_classes");

                ContainerResourceRequirements containerResourceRequirements = ContainerResourceRequirements
                  .builder()
                  .cpu(13L)
                  .memory(8139L)
                  .gpuClasses(gpuClasses)
                  .storageAmount(43769579402L)
                  .build();

                List<String> command = Arrays.asList("command");

                LoggingAxiom2 loggingAxiom2 = LoggingAxiom2.builder().host("host").apiToken("api_token").dataset("dataset").build();

                DatadogTags2 datadogTags2 = DatadogTags2.builder().name("name").value("value").build();

                List<DatadogTags2> tags = Arrays.asList(datadogTags2);

                LoggingDatadog2 loggingDatadog2 = LoggingDatadog2.builder().host("host").apiKey("api_key").tags(tags).build();

                LoggingNewRelic2 loggingNewRelic2 = LoggingNewRelic2.builder().host("host").ingestionKey("ingestion_key").build();

                LoggingSplunk2 loggingSplunk2 = LoggingSplunk2.builder().host("host").token("token").build();

                LoggingTcp2 loggingTcp2 = LoggingTcp2.builder().host("host").port(24951L).build();

                HttpHeaders3 httpHeaders3 = HttpHeaders3.builder().name("name").value("value").build();

                List<HttpHeaders3> headers = Arrays.asList(httpHeaders3);

                LoggingHttp2 loggingHttp2 = LoggingHttp2
                  .builder()
                  .host("host")
                  .port(36565L)
                  .user("user")
                  .password("password")
                  .path("path")
                  .format(HttpFormat2.JSON)
                  .headers(headers)
                  .compression(HttpCompression2.NONE)
                  .build();

                CreateContainerLogging createContainerLogging = CreateContainerLogging
                  .builder()
                  .axiom(loggingAxiom2)
                  .datadog(loggingDatadog2)
                  .newRelic(loggingNewRelic2)
                  .splunk(loggingSplunk2)
                  .tcp(loggingTcp2)
                  .http(loggingHttp2)
                  .build();

                RegistryAuthenticationBasic1 registryAuthenticationBasic1 = RegistryAuthenticationBasic1
                  .builder()
                  .username("username")
                  .password("password")
                  .build();

                RegistryAuthenticationGcpGcr1 registryAuthenticationGcpGcr1 = RegistryAuthenticationGcpGcr1
                  .builder()
                  .serviceKey("service_key")
                  .build();

                RegistryAuthenticationAwsEcr1 registryAuthenticationAwsEcr1 = RegistryAuthenticationAwsEcr1
                  .builder()
                  .accessKeyId("access_key_id")
                  .secretAccessKey("secret_access_key")
                  .build();

                RegistryAuthenticationDockerHub1 registryAuthenticationDockerHub1 = RegistryAuthenticationDockerHub1
                  .builder()
                  .username("username")
                  .personalAccessToken("personal_access_token")
                  .build();

                RegistryAuthenticationGcpGar1 registryAuthenticationGcpGar1 = RegistryAuthenticationGcpGar1
                  .builder()
                  .serviceKey("service_key")
                  .build();

                CreateContainerRegistryAuthentication createContainerRegistryAuthentication = CreateContainerRegistryAuthentication
                  .builder()
                  .basic(registryAuthenticationBasic1)
                  .gcpGcr(registryAuthenticationGcpGcr1)
                  .awsEcr(registryAuthenticationAwsEcr1)
                  .dockerHub(registryAuthenticationDockerHub1)
                  .gcpGar(registryAuthenticationGcpGar1)
                  .build();

                CreateContainer createContainer = CreateContainer
                  .builder()
                  .image("image")
                  .resources(containerResourceRequirements)
                  .command(command)
                  .priority(ContainerGroupPriority.HIGH)
                  .environmentVariables(new HashMap())
                  .logging(createContainerLogging)
                  .registryAuthentication(createContainerRegistryAuthentication)
                  .build();

                List<CountryCode> countryCodes = Arrays.asList(CountryCode.AF);

                CreateContainerGroupNetworking createContainerGroupNetworking = CreateContainerGroupNetworking
                  .builder()
                  .protocol(ContainerNetworkingProtocol.HTTP)
                  .port(22764L)
                  .auth(false)
                  .loadBalancer(CreateContainerGroupNetworkingLoadBalancer.ROUND_ROBIN)
                  .singleConnectionLimit(false)
                  .clientRequestTimeout(100000L)
                  .serverResponseTimeout(100000L)
                  .build();

                ContainerGroupProbeTcp containerGroupProbeTcp = ContainerGroupProbeTcp.builder().port(22350L).build();

                ContainerGroupProbeHttpHeaders2 containerGroupProbeHttpHeaders2 = ContainerGroupProbeHttpHeaders2
                  .builder()
                  .name("name")
                  .value("value")
                  .build();

                List<ContainerGroupProbeHttpHeaders2> headers = Arrays.asList(containerGroupProbeHttpHeaders2);

                ContainerGroupProbeHttp containerGroupProbeHttp = ContainerGroupProbeHttp
                  .builder()
                  .path("path")
                  .port(56884L)
                  .scheme(ContainerProbeHttpScheme.HTTP)
                  .headers(headers)
                  .build();

                ContainerGroupProbeGrpc containerGroupProbeGrpc = ContainerGroupProbeGrpc
                  .builder()
                  .service("service")
                  .port(47172L)
                  .build();

                List<String> command = Arrays.asList("command");

                ContainerGroupProbeExec containerGroupProbeExec = ContainerGroupProbeExec.builder().command(command).build();

                ContainerGroupLivenessProbe containerGroupLivenessProbe = ContainerGroupLivenessProbe
                  .builder()
                  .tcp(containerGroupProbeTcp)
                  .http(containerGroupProbeHttp)
                  .grpc(containerGroupProbeGrpc)
                  .exec(containerGroupProbeExec)
                  .initialDelaySeconds(0L)
                  .periodSeconds(10L)
                  .timeoutSeconds(30L)
                  .successThreshold(1L)
                  .failureThreshold(3L)
                  .build();

                ContainerGroupReadinessProbe containerGroupReadinessProbe = ContainerGroupReadinessProbe
                  .builder()
                  .tcp(containerGroupProbeTcp)
                  .http(containerGroupProbeHttp)
                  .grpc(containerGroupProbeGrpc)
                  .exec(containerGroupProbeExec)
                  .initialDelaySeconds(0L)
                  .periodSeconds(1L)
                  .timeoutSeconds(1L)
                  .successThreshold(1L)
                  .failureThreshold(3L)
                  .build();

                ContainerGroupStartupProbe containerGroupStartupProbe = ContainerGroupStartupProbe
                  .builder()
                  .tcp(containerGroupProbeTcp)
                  .http(containerGroupProbeHttp)
                  .grpc(containerGroupProbeGrpc)
                  .exec(containerGroupProbeExec)
                  .initialDelaySeconds(9L)
                  .periodSeconds(3L)
                  .timeoutSeconds(10L)
                  .successThreshold(2L)
                  .failureThreshold(1200L)
                  .build();

                ContainerGroupQueueConnection containerGroupQueueConnection = ContainerGroupQueueConnection
                  .builder()
                  .path("path")
                  .port(34605L)
                  .queueName("gv8rketqh")
                  .build();

                QueueAutoscaler queueAutoscaler = QueueAutoscaler
                  .builder()
                  .minReplicas(26L)
                  .maxReplicas(28L)
                  .desiredQueueLength(42L)
                  .pollingPeriod(442L)
                  .maxUpscalePerMinute(3L)
                  .maxDownscalePerMinute(69L)
                  .build();

                CreateContainerGroup createContainerGroup = CreateContainerGroup
                  .builder()
                  .name("name")
                  .displayName("VSVi1YCcw")
                  .container(createContainer)
                  .autostartPolicy(false)
                  .restartPolicy(ContainerRestartPolicy.ALWAYS)
                  .replicas(231L)
                  .countryCodes(countryCodes)
                  .networking(createContainerGroupNetworking)
                  .livenessProbe(containerGroupLivenessProbe)
                  .readinessProbe(containerGroupReadinessProbe)
                  .startupProbe(containerGroupStartupProbe)
                  .queueConnection(containerGroupQueueConnection)
                  .queueAutoscaler(queueAutoscaler)
                  .build();

                ContainerGroup response = saladCloudSdk.containerGroups.createContainerGroup(
                  "acme-corp",
                  "dev-env",
                  createContainerGroup
                );

                System.out.println(response);
              }
            }
          lang: Java
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}:
    summary: Container Group
    description: Operations for a container group
    parameters:
      - $ref: "#/components/parameters/organization_name"
      - $ref: "#/components/parameters/project_name"
      - $ref: "#/components/parameters/container_group_name"
    get:
      operationId: get_container_group
      summary: Get Container Group
      description: Gets a container group
      responses:
        "200":
          $ref: "#/components/responses/GetContainerGroup"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        default:
          $ref: "#/components/responses/UnknownError"
      tags:
        - container_groups
      x-liblab-datasource: ContainerGroup#Read
      x-liblab-resource: ContainerGroup#Read
      x-codeSamples:
        - source: >-
            using Salad.Cloud.SDK;

            using Salad.Cloud.SDK.Config;

            using Environment = Salad.Cloud.SDK.Http.Environment;


            var config = new SaladCloudSdkConfig{
                Environment = Environment.Default
            };


            var client = new SaladCloudSdkClient(config);


            var response = await
            client.ContainerGroups.GetContainerGroupAsync("acme-corp",
            "dev-env", "deo5-1hcilmn8m1ouq40vp547cf-9sn3yad");


            Console.WriteLine(response);
          lang: C#
        - source: >-
            import { SaladCloudSdk } from
            '@saladtechnologies-oss/salad-cloud-sdk';


            (async () => {
              const saladCloudSdk = new SaladCloudSdk({
                apiKey: 'YOUR_API_KEY',
              });

              const { data } = await saladCloudSdk.containerGroups.getContainerGroup('acme-corp', 'dev-env', 'n6eqezp9');

              console.log(data);
            })();
          lang: TypeScript
        - source: |-
            from salad_cloud_sdk import SaladCloudSdk

            sdk = SaladCloudSdk(
                api_key="YOUR_API_KEY",
                api_key_header="YOUR_API_KEY_HEADER",
                timeout=10000
            )

            result = sdk.container_groups.get_container_group(
                organization_name="acme-corp",
                project_name="dev-env",
                container_group_name="deo5-1hcilmn8m1ouq40vp547cf-9sn3yad"
            )

            print(result)
          lang: Python
        - source: >-
            import (
              "fmt"
              "encoding/json"
              "github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdkconfig"
              "github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdk"
            )


            config := saladcloudsdkconfig.NewConfig()

            client := saladcloudsdk.NewSaladCloudSdk(config)


            response, err :=
            client.ContainerGroups.GetContainerGroup(context.Background(),
            "organizationName", "projectName", "containerGroupName")

            if err != nil {
              panic(err)
            }


            fmt.Println(response)
          lang: Go
        - source: >-
            import com.salad.cloud.sdk.SaladCloudSdk;

            import com.salad.cloud.sdk.config.ApiKeyAuthConfig;

            import com.salad.cloud.sdk.config.SaladCloudSdkConfig;

            import com.salad.cloud.sdk.models.ContainerGroup;


            public class Main {

              public static void main(String[] args) {
                SaladCloudSdkConfig config = SaladCloudSdkConfig
                  .builder()
                  .apiKeyAuthConfig(ApiKeyAuthConfig.builder().apiKey("YOUR_API_KEY").build())
                  .build();

                SaladCloudSdk saladCloudSdk = new SaladCloudSdk(config);

                ContainerGroup response = saladCloudSdk.containerGroups.getContainerGroup(
                  "acme-corp",
                  "dev-env",
                  "deo5-1hcilmn8m1ouq40vp547cf-9sn3yad"
                );

                System.out.println(response);
              }
            }
          lang: Java
    patch:
      operationId: update_container_group
      summary: Update Container Group
      description: Updates a container group
      requestBody:
        $ref: "#/components/requestBodies/UpdateContainerGroup"
      responses:
        "200":
          $ref: "#/components/responses/UpdateContainerGroup"
        "400":
          $ref: "#/components/responses/400"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        default:
          $ref: "#/components/responses/UnknownError"
      tags:
        - container_groups
      x-liblab-resource: ContainerGroup#Update
      x-codeSamples:
        - source: >-
            using Salad.Cloud.SDK;

            using Salad.Cloud.SDK.Config;

            using Salad.Cloud.SDK.Models;

            using Environment = Salad.Cloud.SDK.Http.Environment;


            var config = new SaladCloudSdkConfig{
                Environment = Environment.Default
            };


            var client = new SaladCloudSdkClient(config);


            var gpuClasses = new List<string>() { "gpu_classes" };

            var resources1 = new Resources(11, 57017, gpuClasses, 34792510764);

            var command = new List<string>() { "command" };

            var axiom = new LoggingAxiom3("host", "api_token", "dataset");

            var tagsItem = new DatadogTags3("name", "value");

            var tags = new List<DatadogTags3>() { tagsItem };

            var datadog = new LoggingDatadog3("host", "api_key", tags);

            var newRelic = new LoggingNewRelic3("host", "ingestion_key");

            var splunk = new LoggingSplunk3("host", "token");

            var tcp = new LoggingTcp3("host", 48471);

            var headersItem = new HttpHeaders4("name", "value");

            var headers = new List<HttpHeaders4>() { headersItem };

            var http = new LoggingHttp3("host", 488, HttpFormat3.Json,
            HttpCompression3.None, "user", "password", "path", headers);

            var logging = new UpdateContainerLogging(axiom, datadog, newRelic,
            splunk, tcp, http);

            var basic = new RegistryAuthenticationBasic2("username",
            "password");

            var gcpGcr = new RegistryAuthenticationGcpGcr2("service_key");

            var awsEcr = new RegistryAuthenticationAwsEcr2("access_key_id",
            "secret_access_key");

            var dockerHub = new RegistryAuthenticationDockerHub2("username",
            "personal_access_token");

            var gcpGar = new RegistryAuthenticationGcpGar2("service_key");

            var registryAuthentication = new
            UpdateContainerRegistryAuthentication(basic, gcpGcr, awsEcr,
            dockerHub, gcpGar);

            var container = new UpdateContainer("image", resources1, command,
            ContainerGroupPriority.High, new object(), logging,
            registryAuthentication);

            var countryCodes = new List<CountryCode>() { CountryCode.Af };

            var networking = new UpdateContainerGroupNetworking(29069);

            var tcp = new ContainerGroupProbeTcp(22350);

            var headersItem = new ContainerGroupProbeHttpHeaders2("name",
            "value");

            var headers = new List<ContainerGroupProbeHttpHeaders2>() {
            headersItem };

            var http = new ContainerGroupProbeHttp("path", 56884,
            ContainerProbeHttpScheme.Http, headers);

            var grpc = new ContainerGroupProbeGrpc("service", 47172);

            var command = new List<string>() { "command" };

            var exec = new ContainerGroupProbeExec(command);

            var livenessProbe = new ContainerGroupLivenessProbe(0, 10, 30, 1, 3,
            tcp, http, grpc, exec);

            var tcp = new ContainerGroupProbeTcp(22350);

            var headersItem = new ContainerGroupProbeHttpHeaders2("name",
            "value");

            var headers = new List<ContainerGroupProbeHttpHeaders2>() {
            headersItem };

            var http = new ContainerGroupProbeHttp("path", 56884,
            ContainerProbeHttpScheme.Http, headers);

            var grpc = new ContainerGroupProbeGrpc("service", 47172);

            var command = new List<string>() { "command" };

            var exec = new ContainerGroupProbeExec(command);

            var readinessProbe = new ContainerGroupReadinessProbe(0, 1, 1, 1, 3,
            tcp, http, grpc, exec);

            var tcp = new ContainerGroupProbeTcp(22350);

            var headersItem = new ContainerGroupProbeHttpHeaders2("name",
            "value");

            var headers = new List<ContainerGroupProbeHttpHeaders2>() {
            headersItem };

            var http = new ContainerGroupProbeHttp("path", 56884,
            ContainerProbeHttpScheme.Http, headers);

            var grpc = new ContainerGroupProbeGrpc("service", 47172);

            var command = new List<string>() { "command" };

            var exec = new ContainerGroupProbeExec(command);

            var startupProbe = new ContainerGroupStartupProbe(9, 3, 10, 2, 1200,
            tcp, http, grpc, exec);

            var queueAutoscaler = new QueueAutoscaler(26, 28, 42, 442, 3, 69);

            var input = new UpdateContainerGroup("AvVDo,", container, 160,
            countryCodes, networking, livenessProbe, readinessProbe,
            startupProbe, queueAutoscaler);


            var response = await
            client.ContainerGroups.UpdateContainerGroupAsync(input, "acme-corp",
            "dev-env", "deo5-1hcilmn8m1ouq40vp547cf-9sn3yad");


            Console.WriteLine(response);
          lang: C#
        - source: >-
            import {
              ContainerGroupLivenessProbe,
              ContainerGroupReadinessProbe,
              ContainerGroupStartupProbe,
              CountryCode,
              QueueAutoscaler,
              SaladCloudSdk,
              UpdateContainer,
              UpdateContainerGroup,
              UpdateContainerGroupNetworking,
            } from '@saladtechnologies-oss/salad-cloud-sdk';


            (async () => {
              const saladCloudSdk = new SaladCloudSdk({
                apiKey: 'YOUR_API_KEY',
              });

              const resources: Resources = {
                cpu: 12,
                memory: 29058,
                gpuClasses: ['gpu_classes'],
                storageAmount: 13215929602,
              };

              const containerGroupPriority = ContainerGroupPriority.HIGH;

              const loggingAxiom3: LoggingAxiom3 = {
                host: 'host',
                apiToken: 'api_token',
                dataset: 'dataset',
              };

              const datadogTags3: DatadogTags3 = {
                name: 'name',
                value: 'value',
              };

              const loggingDatadog3: LoggingDatadog3 = {
                host: 'host',
                apiKey: 'api_key',
                tags: [datadogTags3],
              };

              const loggingNewRelic3: LoggingNewRelic3 = {
                host: 'host',
                ingestionKey: 'ingestion_key',
              };

              const loggingSplunk3: LoggingSplunk3 = {
                host: 'host',
                token: 'token',
              };

              const loggingTcp3: LoggingTcp3 = {
                host: 'host',
                port: 26319,
              };

              const httpFormat3 = HttpFormat3.JSON;

              const httpHeaders4: HttpHeaders4 = {
                name: 'name',
                value: 'value',
              };

              const httpCompression3 = HttpCompression3.NONE;

              const loggingHttp3: LoggingHttp3 = {
                host: 'host',
                port: 16494,
                user: 'user',
                password: 'password',
                path: 'path',
                format: httpFormat3,
                headers: [httpHeaders4],
                compression: httpCompression3,
              };

              const updateContainerLogging: UpdateContainerLogging = {
                axiom: loggingAxiom3,
                datadog: loggingDatadog3,
                newRelic: loggingNewRelic3,
                splunk: loggingSplunk3,
                tcp: loggingTcp3,
                http: loggingHttp3,
              };

              const registryAuthenticationBasic2: RegistryAuthenticationBasic2 = {
                username: 'username',
                password: 'password',
              };

              const registryAuthenticationGcpGcr2: RegistryAuthenticationGcpGcr2 = {
                serviceKey: 'service_key',
              };

              const registryAuthenticationAwsEcr2: RegistryAuthenticationAwsEcr2 = {
                accessKeyId: 'access_key_id',
                secretAccessKey: 'secret_access_key',
              };

              const registryAuthenticationDockerHub2: RegistryAuthenticationDockerHub2 = {
                username: 'username',
                personalAccessToken: 'personal_access_token',
              };

              const registryAuthenticationGcpGar2: RegistryAuthenticationGcpGar2 = {
                serviceKey: 'service_key',
              };

              const updateContainerRegistryAuthentication: UpdateContainerRegistryAuthentication = {
                basic: registryAuthenticationBasic2,
                gcpGcr: registryAuthenticationGcpGcr2,
                awsEcr: registryAuthenticationAwsEcr2,
                dockerHub: registryAuthenticationDockerHub2,
                gcpGar: registryAuthenticationGcpGar2,
              };

              const updateContainer: UpdateContainer = {
                image: 'image',
                resources: resources,
                command: ['command'],
                priority: containerGroupPriority,
                environmentVariables: [],
                logging: updateContainerLogging,
                registryAuthentication: updateContainerRegistryAuthentication,
              };

              const countryCode = CountryCode.AF;

              const updateContainerGroupNetworking: UpdateContainerGroupNetworking = {
                port: 59913,
              };

              const containerGroupProbeTcp: ContainerGroupProbeTcp = {
                port: 9366,
              };

              const containerProbeHttpScheme = ContainerProbeHttpScheme.HTTP;

              const containerGroupProbeHttpHeaders2: ContainerGroupProbeHttpHeaders2 = {
                name: 'name',
                value: 'value',
              };

              const containerGroupProbeHttp: ContainerGroupProbeHttp = {
                path: 'path',
                port: 398,
                scheme: containerProbeHttpScheme,
                headers: [containerGroupProbeHttpHeaders2],
              };

              const containerGroupProbeGrpc: ContainerGroupProbeGrpc = {
                service: 'service',
                port: 23866,
              };

              const containerGroupProbeExec: ContainerGroupProbeExec = {
                command: ['command'],
              };

              const containerGroupLivenessProbe: ContainerGroupLivenessProbe = {
                tcp: containerGroupProbeTcp,
                http: containerGroupProbeHttp,
                grpc: containerGroupProbeGrpc,
                exec: containerGroupProbeExec,
                initialDelaySeconds: 1,
                periodSeconds: 10,
                timeoutSeconds: 30,
                successThreshold: 1,
                failureThreshold: 3,
              };

              const containerGroupReadinessProbe: ContainerGroupReadinessProbe = {
                tcp: containerGroupProbeTcp,
                http: containerGroupProbeHttp,
                grpc: containerGroupProbeGrpc,
                exec: containerGroupProbeExec,
                initialDelaySeconds: 8,
                periodSeconds: 1,
                timeoutSeconds: 1,
                successThreshold: 1,
                failureThreshold: 3,
              };

              const containerGroupStartupProbe: ContainerGroupStartupProbe = {
                tcp: containerGroupProbeTcp,
                http: containerGroupProbeHttp,
                grpc: containerGroupProbeGrpc,
                exec: containerGroupProbeExec,
                initialDelaySeconds: 2,
                periodSeconds: 3,
                timeoutSeconds: 10,
                successThreshold: 2,
                failureThreshold: 1200,
              };

              const queueAutoscaler: QueueAutoscaler = {
                minReplicas: 88,
                maxReplicas: 197,
                desiredQueueLength: 57,
                pollingPeriod: 1449,
                maxUpscalePerMinute: 85,
                maxDownscalePerMinute: 33,
              };

              const updateContainerGroup: UpdateContainerGroup = {
                displayName: 'iMQ',
                container: updateContainer,
                replicas: 97,
                countryCodes: [countryCode],
                networking: updateContainerGroupNetworking,
                livenessProbe: containerGroupLivenessProbe,
                readinessProbe: containerGroupReadinessProbe,
                startupProbe: containerGroupStartupProbe,
                queueAutoscaler: queueAutoscaler,
              };

              const { data } = await saladCloudSdk.containerGroups.updateContainerGroup(
                'acme-corp',
                'dev-env',
                'n6eqezp9',
                updateContainerGroup,
              );

              console.log(data);
            })();
          lang: TypeScript
        - source: |-
            from salad_cloud_sdk import SaladCloudSdk
            from salad_cloud_sdk.models import UpdateContainerGroup

            sdk = SaladCloudSdk(
                api_key="YOUR_API_KEY",
                api_key_header="YOUR_API_KEY_HEADER",
                timeout=10000
            )

            request_body = UpdateContainerGroup(
                display_name="AvVDo,",
                container={
                    "image": "image",
                    "resources": {
                        "cpu": 11,
                        "memory": 57017,
                        "gpu_classes": [
                            "gpu_classes"
                        ],
                        "storage_amount": 34792510764
                    },
                    "command": [
                        "command"
                    ],
                    "priority": "high",
                    "environment_variables": {},
                    "logging": {
                        "axiom": {
                            "host": "host",
                            "api_token": "api_token",
                            "dataset": "dataset"
                        },
                        "datadog": {
                            "host": "host",
                            "api_key": "api_key",
                            "tags": [
                                {
                                    "name": "name",
                                    "value": "value"
                                }
                            ]
                        },
                        "new_relic": {
                            "host": "host",
                            "ingestion_key": "ingestion_key"
                        },
                        "splunk": {
                            "host": "host",
                            "token": "token"
                        },
                        "tcp": {
                            "host": "host",
                            "port": 48471
                        },
                        "http": {
                            "host": "host",
                            "port": 488,
                            "user": "user",
                            "password": "password",
                            "path": "path",
                            "format": "json",
                            "headers": [
                                {
                                    "name": "name",
                                    "value": "value"
                                }
                            ],
                            "compression": "none"
                        }
                    },
                    "registry_authentication": {
                        "basic": {
                            "username": "username",
                            "password": "password"
                        },
                        "gcp_gcr": {
                            "service_key": "service_key"
                        },
                        "aws_ecr": {
                            "access_key_id": "access_key_id",
                            "secret_access_key": "secret_access_key"
                        },
                        "docker_hub": {
                            "username": "username",
                            "personal_access_token": "personal_access_token"
                        },
                        "gcp_gar": {
                            "service_key": "service_key"
                        }
                    }
                },
                replicas=160,
                country_codes=[
                    "af"
                ],
                networking={
                    "port": 29069
                },
                liveness_probe={
                    "tcp": {
                        "port": 22350
                    },
                    "http": {
                        "path": "path",
                        "port": 56884,
                        "scheme": "http",
                        "headers": [
                            {
                                "name": "name",
                                "value": "value"
                            }
                        ]
                    },
                    "grpc": {
                        "service": "service",
                        "port": 47172
                    },
                    "exec_": {
                        "command": [
                            "command"
                        ]
                    },
                    "initial_delay_seconds": 0,
                    "period_seconds": 10,
                    "timeout_seconds": 30,
                    "success_threshold": 1,
                    "failure_threshold": 3
                },
                readiness_probe={
                    "tcp": {
                        "port": 22350
                    },
                    "http": {
                        "path": "path",
                        "port": 56884,
                        "scheme": "http",
                        "headers": [
                            {
                                "name": "name",
                                "value": "value"
                            }
                        ]
                    },
                    "grpc": {
                        "service": "service",
                        "port": 47172
                    },
                    "exec_": {
                        "command": [
                            "command"
                        ]
                    },
                    "initial_delay_seconds": 0,
                    "period_seconds": 1,
                    "timeout_seconds": 1,
                    "success_threshold": 1,
                    "failure_threshold": 3
                },
                startup_probe={
                    "tcp": {
                        "port": 22350
                    },
                    "http": {
                        "path": "path",
                        "port": 56884,
                        "scheme": "http",
                        "headers": [
                            {
                                "name": "name",
                                "value": "value"
                            }
                        ]
                    },
                    "grpc": {
                        "service": "service",
                        "port": 47172
                    },
                    "exec_": {
                        "command": [
                            "command"
                        ]
                    },
                    "initial_delay_seconds": 9,
                    "period_seconds": 3,
                    "timeout_seconds": 10,
                    "success_threshold": 2,
                    "failure_threshold": 1200
                },
                queue_autoscaler={
                    "min_replicas": 26,
                    "max_replicas": 28,
                    "desired_queue_length": 42,
                    "polling_period": 442,
                    "max_upscale_per_minute": 3,
                    "max_downscale_per_minute": 69
                }
            )

            result = sdk.container_groups.update_container_group(
                request_body=request_body,
                organization_name="acme-corp",
                project_name="dev-env",
                container_group_name="deo5-1hcilmn8m1ouq40vp547cf-9sn3yad"
            )

            print(result)
          lang: Python
        - source: |-
            import (
              "fmt"
              "encoding/json"
              "github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdkconfig"
              "github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdk"
              "github.com/saladtechnologies/salad-cloud-sdk-go/pkg/containergroups"
            )

            config := saladcloudsdkconfig.NewConfig()
            client := saladcloudsdk.NewSaladCloudSdk(config)


            resources := containergroups.Resources{}
            resources.SetCpu(int64(123))
            resources.SetMemory(int64(123))
            resources.SetGpuClasses([]string{})
            resources.SetStorageAmount(int64(123))

            containerGroupPriority := shared.CONTAINER_GROUP_PRIORITY_HIGH


            loggingAxiom3 := containergroups.LoggingAxiom3{}
            loggingAxiom3.SetHost("Host")
            loggingAxiom3.SetApiToken("ApiToken")
            loggingAxiom3.SetDataset("Dataset")


            datadogTags3 := containergroups.DatadogTags3{}
            datadogTags3.SetName("Name")
            datadogTags3.SetValue("Value")

            loggingDatadog3 := containergroups.LoggingDatadog3{}
            loggingDatadog3.SetHost("Host")
            loggingDatadog3.SetApiKey("ApiKey")
            loggingDatadog3.SetTags([]containergroups.DatadogTags3{datadogTags3})


            loggingNewRelic3 := containergroups.LoggingNewRelic3{}
            loggingNewRelic3.SetHost("Host")
            loggingNewRelic3.SetIngestionKey("IngestionKey")


            loggingSplunk3 := containergroups.LoggingSplunk3{}
            loggingSplunk3.SetHost("Host")
            loggingSplunk3.SetToken("Token")


            loggingTcp3 := containergroups.LoggingTcp3{}
            loggingTcp3.SetHost("Host")
            loggingTcp3.SetPort(int64(123))

            httpFormat3 := containergroups.HTTP_FORMAT3_JSON


            httpHeaders4 := containergroups.HttpHeaders4{}
            httpHeaders4.SetName("Name")
            httpHeaders4.SetValue("Value")

            httpCompression3 := containergroups.HTTP_COMPRESSION3_NONE

            loggingHttp3 := containergroups.LoggingHttp3{}
            loggingHttp3.SetHost("Host")
            loggingHttp3.SetPort(int64(123))
            loggingHttp3.SetUser("User")
            loggingHttp3.SetPassword("Password")
            loggingHttp3.SetPath("Path")
            loggingHttp3.SetFormat(httpFormat3)
            loggingHttp3.SetHeaders([]containergroups.HttpHeaders4{httpHeaders4})
            loggingHttp3.SetCompression(httpCompression3)

            updateContainerLogging := containergroups.UpdateContainerLogging{}
            updateContainerLogging.SetAxiom(loggingAxiom3)
            updateContainerLogging.SetDatadog(loggingDatadog3)
            updateContainerLogging.SetNewRelic(loggingNewRelic3)
            updateContainerLogging.SetSplunk(loggingSplunk3)
            updateContainerLogging.SetTcp(loggingTcp3)
            updateContainerLogging.SetHttp(loggingHttp3)


            registryAuthenticationBasic2 := containergroups.RegistryAuthenticationBasic2{}
            registryAuthenticationBasic2.SetUsername("Username")
            registryAuthenticationBasic2.SetPassword("Password")


            registryAuthenticationGcpGcr2 := containergroups.RegistryAuthenticationGcpGcr2{}
            registryAuthenticationGcpGcr2.SetServiceKey("ServiceKey")


            registryAuthenticationAwsEcr2 := containergroups.RegistryAuthenticationAwsEcr2{}
            registryAuthenticationAwsEcr2.SetAccessKeyId("AccessKeyId")
            registryAuthenticationAwsEcr2.SetSecretAccessKey("SecretAccessKey")


            registryAuthenticationDockerHub2 := containergroups.RegistryAuthenticationDockerHub2{}
            registryAuthenticationDockerHub2.SetUsername("Username")
            registryAuthenticationDockerHub2.SetPersonalAccessToken("PersonalAccessToken")


            registryAuthenticationGcpGar2 := containergroups.RegistryAuthenticationGcpGar2{}
            registryAuthenticationGcpGar2.SetServiceKey("ServiceKey")

            updateContainerRegistryAuthentication := containergroups.UpdateContainerRegistryAuthentication{}
            updateContainerRegistryAuthentication.SetBasic(registryAuthenticationBasic2)
            updateContainerRegistryAuthentication.SetGcpGcr(registryAuthenticationGcpGcr2)
            updateContainerRegistryAuthentication.SetAwsEcr(registryAuthenticationAwsEcr2)
            updateContainerRegistryAuthentication.SetDockerHub(registryAuthenticationDockerHub2)
            updateContainerRegistryAuthentication.SetGcpGar(registryAuthenticationGcpGar2)

            updateContainer := containergroups.UpdateContainer{}
            updateContainer.SetImage("Image")
            updateContainer.SetResources(resources)
            updateContainer.SetCommand([]string{})
            updateContainer.SetPriority(containerGroupPriority)
            updateContainer.SetEnvironmentVariables(map[string]string{})
            updateContainer.SetLogging(updateContainerLogging)
            updateContainer.SetRegistryAuthentication(updateContainerRegistryAuthentication)

            countryCode := shared.COUNTRY_CODE_AF


            updateContainerGroupNetworking := containergroups.UpdateContainerGroupNetworking{}
            updateContainerGroupNetworking.SetPort(int64(123))


            containerGroupProbeTcp := shared.ContainerGroupProbeTcp{}
            containerGroupProbeTcp.SetPort(int64(123))

            containerProbeHttpScheme := shared.CONTAINER_PROBE_HTTP_SCHEME_HTTP


            containerGroupProbeHttpHeaders2 := shared.ContainerGroupProbeHttpHeaders2{}
            containerGroupProbeHttpHeaders2.SetName("Name")
            containerGroupProbeHttpHeaders2.SetValue("Value")

            containerGroupProbeHttp := shared.ContainerGroupProbeHttp{}
            containerGroupProbeHttp.SetPath("Path")
            containerGroupProbeHttp.SetPort(int64(123))
            containerGroupProbeHttp.SetScheme(containerProbeHttpScheme)
            containerGroupProbeHttp.SetHeaders([]shared.ContainerGroupProbeHttpHeaders2{containerGroupProbeHttpHeaders2})


            containerGroupProbeGrpc := shared.ContainerGroupProbeGrpc{}
            containerGroupProbeGrpc.SetService("Service")
            containerGroupProbeGrpc.SetPort(int64(123))


            containerGroupProbeExec := shared.ContainerGroupProbeExec{}
            containerGroupProbeExec.SetCommand([]string{})

            containerGroupLivenessProbe := shared.ContainerGroupLivenessProbe{}
            containerGroupLivenessProbe.SetTcp(containerGroupProbeTcp)
            containerGroupLivenessProbe.SetHttp(containerGroupProbeHttp)
            containerGroupLivenessProbe.SetGrpc(containerGroupProbeGrpc)
            containerGroupLivenessProbe.SetExec(containerGroupProbeExec)
            containerGroupLivenessProbe.SetInitialDelaySeconds(int64(123))
            containerGroupLivenessProbe.SetPeriodSeconds(int64(123))
            containerGroupLivenessProbe.SetTimeoutSeconds(int64(123))
            containerGroupLivenessProbe.SetSuccessThreshold(int64(123))
            containerGroupLivenessProbe.SetFailureThreshold(int64(123))


            containerGroupProbeTcp := shared.ContainerGroupProbeTcp{}
            containerGroupProbeTcp.SetPort(int64(123))

            containerProbeHttpScheme := shared.CONTAINER_PROBE_HTTP_SCHEME_HTTP


            containerGroupProbeHttpHeaders2 := shared.ContainerGroupProbeHttpHeaders2{}
            containerGroupProbeHttpHeaders2.SetName("Name")
            containerGroupProbeHttpHeaders2.SetValue("Value")

            containerGroupProbeHttp := shared.ContainerGroupProbeHttp{}
            containerGroupProbeHttp.SetPath("Path")
            containerGroupProbeHttp.SetPort(int64(123))
            containerGroupProbeHttp.SetScheme(containerProbeHttpScheme)
            containerGroupProbeHttp.SetHeaders([]shared.ContainerGroupProbeHttpHeaders2{containerGroupProbeHttpHeaders2})


            containerGroupProbeGrpc := shared.ContainerGroupProbeGrpc{}
            containerGroupProbeGrpc.SetService("Service")
            containerGroupProbeGrpc.SetPort(int64(123))


            containerGroupProbeExec := shared.ContainerGroupProbeExec{}
            containerGroupProbeExec.SetCommand([]string{})

            containerGroupReadinessProbe := shared.ContainerGroupReadinessProbe{}
            containerGroupReadinessProbe.SetTcp(containerGroupProbeTcp)
            containerGroupReadinessProbe.SetHttp(containerGroupProbeHttp)
            containerGroupReadinessProbe.SetGrpc(containerGroupProbeGrpc)
            containerGroupReadinessProbe.SetExec(containerGroupProbeExec)
            containerGroupReadinessProbe.SetInitialDelaySeconds(int64(123))
            containerGroupReadinessProbe.SetPeriodSeconds(int64(123))
            containerGroupReadinessProbe.SetTimeoutSeconds(int64(123))
            containerGroupReadinessProbe.SetSuccessThreshold(int64(123))
            containerGroupReadinessProbe.SetFailureThreshold(int64(123))


            containerGroupProbeTcp := shared.ContainerGroupProbeTcp{}
            containerGroupProbeTcp.SetPort(int64(123))

            containerProbeHttpScheme := shared.CONTAINER_PROBE_HTTP_SCHEME_HTTP


            containerGroupProbeHttpHeaders2 := shared.ContainerGroupProbeHttpHeaders2{}
            containerGroupProbeHttpHeaders2.SetName("Name")
            containerGroupProbeHttpHeaders2.SetValue("Value")

            containerGroupProbeHttp := shared.ContainerGroupProbeHttp{}
            containerGroupProbeHttp.SetPath("Path")
            containerGroupProbeHttp.SetPort(int64(123))
            containerGroupProbeHttp.SetScheme(containerProbeHttpScheme)
            containerGroupProbeHttp.SetHeaders([]shared.ContainerGroupProbeHttpHeaders2{containerGroupProbeHttpHeaders2})


            containerGroupProbeGrpc := shared.ContainerGroupProbeGrpc{}
            containerGroupProbeGrpc.SetService("Service")
            containerGroupProbeGrpc.SetPort(int64(123))


            containerGroupProbeExec := shared.ContainerGroupProbeExec{}
            containerGroupProbeExec.SetCommand([]string{})

            containerGroupStartupProbe := shared.ContainerGroupStartupProbe{}
            containerGroupStartupProbe.SetTcp(containerGroupProbeTcp)
            containerGroupStartupProbe.SetHttp(containerGroupProbeHttp)
            containerGroupStartupProbe.SetGrpc(containerGroupProbeGrpc)
            containerGroupStartupProbe.SetExec(containerGroupProbeExec)
            containerGroupStartupProbe.SetInitialDelaySeconds(int64(123))
            containerGroupStartupProbe.SetPeriodSeconds(int64(123))
            containerGroupStartupProbe.SetTimeoutSeconds(int64(123))
            containerGroupStartupProbe.SetSuccessThreshold(int64(123))
            containerGroupStartupProbe.SetFailureThreshold(int64(123))


            queueAutoscaler := shared.QueueAutoscaler{}
            queueAutoscaler.SetMinReplicas(int64(123))
            queueAutoscaler.SetMaxReplicas(int64(123))
            queueAutoscaler.SetDesiredQueueLength(int64(123))
            queueAutoscaler.SetPollingPeriod(int64(123))
            queueAutoscaler.SetMaxUpscalePerMinute(int64(123))
            queueAutoscaler.SetMaxDownscalePerMinute(int64(123))

            request := containergroups.UpdateContainerGroup{}
            request.SetDisplayName("DisplayName")
            request.SetContainer(updateContainer)
            request.SetReplicas(int64(123))
            request.SetCountryCodes([]shared.CountryCode{countryCode})
            request.SetNetworking(updateContainerGroupNetworking)
            request.SetLivenessProbe(containerGroupLivenessProbe)
            request.SetReadinessProbe(containerGroupReadinessProbe)
            request.SetStartupProbe(containerGroupStartupProbe)
            request.SetQueueAutoscaler(queueAutoscaler)

            response, err := client.ContainerGroups.UpdateContainerGroup(context.Background(), "organizationName", "projectName", "containerGroupName", request)
            if err != nil {
              panic(err)
            }

            fmt.Println(response)
          lang: Go
        - source: >-
            import com.salad.cloud.sdk.SaladCloudSdk;

            import com.salad.cloud.sdk.config.ApiKeyAuthConfig;

            import com.salad.cloud.sdk.config.SaladCloudSdkConfig;

            import com.salad.cloud.sdk.models.ContainerGroup;

            import com.salad.cloud.sdk.models.ContainerGroupLivenessProbe;

            import com.salad.cloud.sdk.models.ContainerGroupPriority;

            import com.salad.cloud.sdk.models.ContainerGroupProbeExec;

            import com.salad.cloud.sdk.models.ContainerGroupProbeGrpc;

            import com.salad.cloud.sdk.models.ContainerGroupProbeHttp;

            import com.salad.cloud.sdk.models.ContainerGroupProbeHttpHeaders2;

            import com.salad.cloud.sdk.models.ContainerGroupProbeTcp;

            import com.salad.cloud.sdk.models.ContainerGroupReadinessProbe;

            import com.salad.cloud.sdk.models.ContainerGroupStartupProbe;

            import com.salad.cloud.sdk.models.ContainerProbeHttpScheme;

            import com.salad.cloud.sdk.models.CountryCode;

            import com.salad.cloud.sdk.models.DatadogTags3;

            import com.salad.cloud.sdk.models.HttpCompression3;

            import com.salad.cloud.sdk.models.HttpFormat3;

            import com.salad.cloud.sdk.models.HttpHeaders4;

            import com.salad.cloud.sdk.models.LoggingAxiom3;

            import com.salad.cloud.sdk.models.LoggingDatadog3;

            import com.salad.cloud.sdk.models.LoggingHttp3;

            import com.salad.cloud.sdk.models.LoggingNewRelic3;

            import com.salad.cloud.sdk.models.LoggingSplunk3;

            import com.salad.cloud.sdk.models.LoggingTcp3;

            import com.salad.cloud.sdk.models.QueueAutoscaler;

            import com.salad.cloud.sdk.models.RegistryAuthenticationAwsEcr2;

            import com.salad.cloud.sdk.models.RegistryAuthenticationBasic2;

            import com.salad.cloud.sdk.models.RegistryAuthenticationDockerHub2;

            import com.salad.cloud.sdk.models.RegistryAuthenticationGcpGar2;

            import com.salad.cloud.sdk.models.RegistryAuthenticationGcpGcr2;

            import com.salad.cloud.sdk.models.Resources;

            import com.salad.cloud.sdk.models.UpdateContainer;

            import com.salad.cloud.sdk.models.UpdateContainerGroup;

            import com.salad.cloud.sdk.models.UpdateContainerGroupNetworking;

            import com.salad.cloud.sdk.models.UpdateContainerLogging;

            import
            com.salad.cloud.sdk.models.UpdateContainerRegistryAuthentication;

            import java.util.Arrays;

            import java.util.HashMap;

            import java.util.List;


            public class Main {

              public static void main(String[] args) {
                SaladCloudSdkConfig config = SaladCloudSdkConfig
                  .builder()
                  .apiKeyAuthConfig(ApiKeyAuthConfig.builder().apiKey("YOUR_API_KEY").build())
                  .build();

                SaladCloudSdk saladCloudSdk = new SaladCloudSdk(config);

                List<String> gpuClasses = Arrays.asList("gpu_classes");

                Resources resources = Resources
                  .builder()
                  .cpu(11L)
                  .memory(57017L)
                  .gpuClasses(gpuClasses)
                  .storageAmount(34792510764L)
                  .build();

                List<String> command = Arrays.asList("command");

                LoggingAxiom3 loggingAxiom3 = LoggingAxiom3.builder().host("host").apiToken("api_token").dataset("dataset").build();

                DatadogTags3 datadogTags3 = DatadogTags3.builder().name("name").value("value").build();

                List<DatadogTags3> tags = Arrays.asList(datadogTags3);

                LoggingDatadog3 loggingDatadog3 = LoggingDatadog3.builder().host("host").apiKey("api_key").tags(tags).build();

                LoggingNewRelic3 loggingNewRelic3 = LoggingNewRelic3.builder().host("host").ingestionKey("ingestion_key").build();

                LoggingSplunk3 loggingSplunk3 = LoggingSplunk3.builder().host("host").token("token").build();

                LoggingTcp3 loggingTcp3 = LoggingTcp3.builder().host("host").port(48471L).build();

                HttpHeaders4 httpHeaders4 = HttpHeaders4.builder().name("name").value("value").build();

                List<HttpHeaders4> headers = Arrays.asList(httpHeaders4);

                LoggingHttp3 loggingHttp3 = LoggingHttp3
                  .builder()
                  .host("host")
                  .port(488L)
                  .user("user")
                  .password("password")
                  .path("path")
                  .format(HttpFormat3.JSON)
                  .headers(headers)
                  .compression(HttpCompression3.NONE)
                  .build();

                UpdateContainerLogging updateContainerLogging = UpdateContainerLogging
                  .builder()
                  .axiom(loggingAxiom3)
                  .datadog(loggingDatadog3)
                  .newRelic(loggingNewRelic3)
                  .splunk(loggingSplunk3)
                  .tcp(loggingTcp3)
                  .http(loggingHttp3)
                  .build();

                RegistryAuthenticationBasic2 registryAuthenticationBasic2 = RegistryAuthenticationBasic2
                  .builder()
                  .username("username")
                  .password("password")
                  .build();

                RegistryAuthenticationGcpGcr2 registryAuthenticationGcpGcr2 = RegistryAuthenticationGcpGcr2
                  .builder()
                  .serviceKey("service_key")
                  .build();

                RegistryAuthenticationAwsEcr2 registryAuthenticationAwsEcr2 = RegistryAuthenticationAwsEcr2
                  .builder()
                  .accessKeyId("access_key_id")
                  .secretAccessKey("secret_access_key")
                  .build();

                RegistryAuthenticationDockerHub2 registryAuthenticationDockerHub2 = RegistryAuthenticationDockerHub2
                  .builder()
                  .username("username")
                  .personalAccessToken("personal_access_token")
                  .build();

                RegistryAuthenticationGcpGar2 registryAuthenticationGcpGar2 = RegistryAuthenticationGcpGar2
                  .builder()
                  .serviceKey("service_key")
                  .build();

                UpdateContainerRegistryAuthentication updateContainerRegistryAuthentication = UpdateContainerRegistryAuthentication
                  .builder()
                  .basic(registryAuthenticationBasic2)
                  .gcpGcr(registryAuthenticationGcpGcr2)
                  .awsEcr(registryAuthenticationAwsEcr2)
                  .dockerHub(registryAuthenticationDockerHub2)
                  .gcpGar(registryAuthenticationGcpGar2)
                  .build();

                UpdateContainer updateContainer = UpdateContainer
                  .builder()
                  .image("image")
                  .resources(resources)
                  .command(command)
                  .priority(ContainerGroupPriority.HIGH)
                  .environmentVariables(new HashMap())
                  .logging(updateContainerLogging)
                  .registryAuthentication(updateContainerRegistryAuthentication)
                  .build();

                List<CountryCode> countryCodes = Arrays.asList(CountryCode.AF);

                UpdateContainerGroupNetworking updateContainerGroupNetworking = UpdateContainerGroupNetworking
                  .builder()
                  .port(29069L)
                  .build();

                ContainerGroupProbeTcp containerGroupProbeTcp = ContainerGroupProbeTcp.builder().port(22350L).build();

                ContainerGroupProbeHttpHeaders2 containerGroupProbeHttpHeaders2 = ContainerGroupProbeHttpHeaders2
                  .builder()
                  .name("name")
                  .value("value")
                  .build();

                List<ContainerGroupProbeHttpHeaders2> headers = Arrays.asList(containerGroupProbeHttpHeaders2);

                ContainerGroupProbeHttp containerGroupProbeHttp = ContainerGroupProbeHttp
[...]
